body {
  background-color: #141518;
  color: #fff;
}

#status {
  margin-top: 15px;
  color: antiquewhite;
}

.logo {
  display: block;
  position: relative;
  margin: 5px auto;
  max-width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
